<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>
<body class="lessblack">
    <nav class="zone black stickytop card">
        <ul class="main-nav">
            <li><a href="./">Home</a></li>
            <li><a href="./#pictures">Pictures</a></li>
            <li><a href="./about.html">About</a></li>
            <li class="push"><a href="./contact.html">Contact</a></li>
    </ul>
    </nav>

    <div class="contact">
        <h1>Thank You.I will Get in touch with you, shortly!</h1>
    </div>
    
    



    <footer id="contact" class="black card  ">
        <p>Tejas Patil</p> 
        <div>
          <i class="fa fa-envelope"></i>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=tejas821999@gmail.com" target="_blank">tejas821999@gmail.com</a>
    
          <i class="fa fa-linkedin-square"></i>
          <a href="https://www.linkedin.com/in/patil-tejas/" target="_blank">LinkedIn</a>
        </div>
      </footer>
</body>
</html>